// Fonts preferences
$sans-family: EB Garamond, sans-serif;
$mono-family: Consolas, monospace;
$base-font-size: 20px;
$medium-font-size: $base-font-size * 0.938;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

// Font weight
$normal-weight: 500;
$bold-weight: 700;

//Light Colors
$text-base-color: #131418;
$text-link-orange: #f0550d;

$black: #0d122b;
$light: #ececec;
$smoke: #d2c7c7;
$gray: #6b7886;
$white: #fff;
$bright-gray: #8899a6;

// Width of the content area
$wide-size: 890px;
$narrow-size: 720px;

// Padding unit
$spacing-full: 30px;
$spacing-half: $spacing-full / 2;

// State of devices
$on-mobile: 768px;
$on-tablet: 769px;
$on-desktop: 1024px;
$on-widescreen: 1152px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:60%;
  height:60%;
}

// Import sass files
@import "style/base", "style/layout";
