---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include header.html %}
<body class="notransition">
  <div class="wrapper">
    <main aria-label="Content">
      <div class="not-found">
        <div class="container">
          <div class="title">404</div>
          <p class="phrase"> Hmm... Seems you found an invalid page.</p>
          <a class="solution" href="{{ site.url }}">back home</a>
        </div>
      </div>
    </main>  
    {% include footer.html %}
  </div>
    
</body>

</html>
